<style>
    .home-container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
  </style>
  
<h1>Tenant: {{user.name}} </h1>
<hr/>
{% include 'base/tenant_form.html' %}

<hr>
<div class = "home-container">
    <div>Creating issue
      <hr>
      <a href="{%url 'issueForm'%}">create issue</a>
    </div>

    <div>Number of Issues
      <hr>
      {% for issue in issues %}
      <div>
        Isuue Name: {{issue.name}} <br> 
        Isuue Description: {{issue.description}} <br>
        To Room: {{issue.room.name}} <br>
        To owner :{{issue.room.description}}
        <hr>
      </div>
      {% endfor %}
    </div>
    <div>
      My room
      <hr>
      {% for room in rooms%}
      <div> 
        {{room.id}}  {{room.name}}
        <br>
        {{room.description}}
        <br>
        {{room.owner.username}}
        <hr>
      </div>
      {% endfor %}
    </div>

</div>

